{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Abyss", "Snag", "Shade", "Shadow", "Murk", "Thorn", "Bite", "Bramble", "Moist", "Fang", "Dark", "Umber", "Grey", "Dusk", "Ash", "Ebon", "Decay", "Eclipse", "Udon", "Verdant", "Viscous", "Blood", "Heart", "Ink", "Vein", "Vine", "Abyssal" ],
      [ { "mode" : "alts" }, "sting", "rake", "leech", "-stalker", "-lasher", "rot", "rotter", "leech", "teeth", "gnaw", "crawl", "haunt", "leaf", "frond", "wilt", "slink", "-shader", "-shudder", "touch", "-sapper", "lich", "-keeper", "howl", "whisp", "touch", "twist", "grasp", "velum", "creep", "cringe" ]
    ]
  ]
}
