{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "reapersmoke"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/fireball_spit.wav" ]
    },
    {
      "action" : "light",
      "color" : "red"
    }

  ]
}
